* {
    margin: 0;
    padding: 0;
}

/* Estilização Menu */
nav{
    display:inline-block;
    align-items: center;
    background-color:  rgb(209, 223, 240);
    border-radius: 10px;
    height: 90px;
    font-family: 'Axiforma',sans-serif;
    font-weight:500;
    text-decoration: solid;
    box-shadow: 0 0 8px 1px #010168;
    position: relative;
}

 /*testes menu*/

 .menu{
  text-align: center;
 }
 .menu li{
  position:relative;
  float:left;
  margin-top: 10px;
  margin-right: -5px;
  }
  
  .menu li a{
    position: relative;
    text-decoration: none;
    color: black;
    padding:5px 10px; 
    display:flex;
    align-items: center;
    white-space: nowrap;
}


.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; 
  background-color: #010168; 
  transition: width 0.3s ease; 
}

.menu li:hover a::after {
  width: 100%;
}


.menu li a:hover{
border-radius: 10px;
}

.testando{
  text-align: center;
  padding: 2px;
  width: 210px;
}

.menu li.produtos:hover a::after {
  width: 100%;
}



.menu li ul{
  position:absolute;
  top:55px;
  left:10;
  background-color:white;
  display:none;
  text-align: center;
  border-radius: 10px;
  }

  .menu li:hover ul, .menu li.over ul{
    display:block;
  }

  .menu li ul li{
    display:block;
    width: 100%;
    height: 40px;
    padding: 2px;
    }

ul{
    list-style: none;
    margin-left: 0;
}

li{
    display: block;
    padding: 1rem;
    margin-right: 25px;
    margin-top: 25px;
}
.img-1{
    display: inline-flex;
    margin-top: 5px;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(209, 223, 240);
    background-size: 100px 100px;
    
}

/* Estilização Botão */
.botao{
    background-color: #02028b;
    color: white;
    border-radius: 20px;
    border: 1px solid #eee;
    text-shadow: none;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-weight: bold;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: -50px;
    margin-left: 15px;
}

.botao2{
  background-color: rgb(255, 136, 0);
  color: black;
  border-radius: 20px;
  border: 1px solid #eee;
  text-shadow: none;
  margin-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: solid;
  font-weight: bold;
  width: 200px;
  height: 40px;
  align-items: end;

}

button{
    @include center;
    background: #333;
    color: #ccc;
    width: 200px;
    height: 60px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    transition: .6s;
    overflow: hidden;
    &:focus{
      outline: 0;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(-100px)  skewX(-15deg);
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      background: rgba(255,255,255,0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:hover{
      background: #4a5f90;
      cursor: pointer;
      &:before{
        transform: translateX(300px)  skewX(-15deg);  
        opacity: 0.6;
        transition: .7s;
      }
      &:after{
        transform: translateX(300px) skewX(-15deg);  
        opacity: 1;
        transition: .7s;
      }
    }
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bgimage {
    height: 100vh;
    position: relative;
    background: url('imagem/inicio.jpg');
    background-size: cover;
}

#sobre, 
#servicos, 
#portfolio, 
#contato {
    padding: 5rem 0;
    background-color: #dbdbdb;
}

.heroTitle {
  font-size: 4rem;
  margin-top: 280px;
  margin-left: 35px;
  color: #02268b;
  text-decoration: solid;
  background-color: yellow;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.heroDesc {
  font-size: 1.7rem;
  margin-left: 40px;
  margin-top: 5px;
  font-weight: bold;
}

.aboutImage {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}


/**/
.servicesText.card {
  height: 450px;
  cursor: pointer;
  padding: 0 2rem;
}

.servicesIcon {
  height: 36px;
  text-align: center;
  width: 100%;
}

.cardTitle {
  text-align: center;
}

.card:hover .servicesIcon {
  color: #008000;
}

.servicesText:hover{
  border: 1px solid #008000;
}

.contactIcon{
  font-size: 2.5rem;
  color: #3457f5;
}

/* Footer */
footer {
  background-color: #010030;
  
}
.footerIcon {
  font-size: 2rem;
  color: white;
}
.footerIcon:hover {
  color: #c4c4c4;
}
.footerDev {
  background-color: #001f63;
}


/* FORM */

.modal {
  color: black; 
  text-align: start;
  margin-top: 50px;
}

.modal-header {
  background-color: rgb(73, 106, 214); /* Azul claro para o cabeçalho */
  color: #ffffff; /* Texto branco para o cabeçalho */
}

.modal label, .modal input {
  color: black; 
}

/* Estilo para os botões dentro do modal */
.modal .btn-login {
  background-color: #010168; 
  color: #ffffff; 
  padding: 2px 2px; 
  font-size: 15px; 
  width: 90px;
  height: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}

.modal .btn-cadastro {
  background-color: orangered; 
  color: white; 
  padding: 2px 2px; 
  font-size: 15px; 
  width: 160px;
  height: 40px;
  margin-right: 33%;
  margin-bottom: 15px;
  font-weight: bold;
}

.modal .btn-login:hover {
  background-color: #2c3e50; 
  color: white;
  border-color: #2c3e50; 
}
.modal .btn-cadastro:hover {
  background-color: #2c3e50; 
  color: white;
  border-color: #2c3e50; 
}

.centralizar-texto {
  text-align: center;
}

.estiloCons{
  height: 450px;
}


.estiloSobre{
  border-left-width: 0;
  border-right-width: 0;
  padding: 25px;
}

.see{
  background-color: #dbdbdb;;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.att{
  background-color: rgba(255, 0, 0, 0.521);
  margin-top: -20px;
  border-radius: 10px;
  padding: 5px;
}

section {
  margin: 0;
  padding: 0;
}

.contatoEstilo{
  margin-top: 50px;
}
